@page "/"

<PageTitle>Home</PageTitle>

<div class="container text-center">
    <header>
        <blockquote class="blockquote text-center pagePart">
            <h1 class="display-1"> Analytic Hooks</h1>
            <h2 class="lead text-muted">Currently Available</h2>
        </blockquote>
    </header>
    <div class="row">
        <div class="col m-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Google Analytics
                </div>
                <div class="card-body">
                    <h5 class="card-title">Google Analytics</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://analytics.google.com/" target="_blank" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col m-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Google Tag Manager
                </div>
                <div class="card-body">
                    <h5 class="card-title">Google Tag Manager</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="https://marketingplatform.google.com/about/tag-manager/" target="_blank" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        <div class="col m-3">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    Pixel
                </div>
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" target="_blank" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>